/* Regras do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gradiente-barra: linear-gradient(90deg, rgba(19, 19, 31, 1) 7%, rgba(53, 51, 205, 1) 40%, rgba(160, 32, 240, 1) 100%);
    --gradiente-botao: linear-gradient(90deg, rgba(53, 51, 205, 1) 20%, rgba(160, 32, 240, 1) 100%);
    --cor-fundo: #13131F;
    --cor-fonte: #fff;
    --azul: #3533cd;
    --roxo: #a020f0;
}

/* Estilizando o layout */
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
}

/* Estilizando a barra de navegação */
#navegacao {
    list-style: none;
    padding: 0;
    background: var(--cor-fundo);
    background: var(--gradiente-barra);
    text-align: right;
}

#navegacao li {
    display: inline;
}

#navegacao:first-child {
    padding-top: 10px;
    padding-left: 20px;
}

#navegacao li img {
    width: 50px;
    float: left;
    background-position: center;
    border-radius: 50%;
}

#navegacao li a {
    color: var(--cor-fonte);
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    position: relative;
}

/*  transition: 0.5s ease-in-out; : serve para editar a transição de um estado para o outro */
/* position:; é usado para controlar o posicionamento de um elemento em relação ao seu contexto de posicionamento, que pode ser o documento HTML como um todo, um elemento pai ou algum outro elemento.  */
nav a::after {
    content: "";
    width: 0%;
    height: 4px;
    background-color: var(--cor-fonte);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

/* Fazendo a estilização da imagem */
figure {
    padding-left: 30px;
    padding-top: 55px;
}

figure img {
    border-radius: 50%;
    width: 300px;
}

h1 {
    margin-top: 40px;
    text-align: center;
}

/* Estilizando as Softs Skills */
#soft {
    position: absolute;
    top: 28%;
    left: 33%;
    padding: 40px;
    width: 530px;
    background: rgba(19, 19, 31, 0.2);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
}

#soft h2 {
    text-align: center;
    padding-bottom: 35px;
}

#soft li {
    font-size: 18px;
}

/* Estilizando as Hards Skills */
#hard {
    text-align: center;
    margin-top: 350px;
}

#hard ul {
    margin-top: 25px;
}

/* Fazendo animação das listas */
.card {
    display: inline-block;
    text-decoration: none;
    width: 90px;
    margin: 0 15px;
    background: rgba(19, 19, 31, 0.2);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
    transition: .35s;
    cursor: pointer;
}

.animacao:hover> :not(:hover) {
    opacity: .4;
    transform: scale(0.9);
}

.card img {
    width: 70px;
    margin-top: 20px;
}

/* Estilizando o rodapé da página */
footer {
    width: 100%;
    background: var(--gradiente-barra);
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}