@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Saira&display=swap');

/* Regras do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis */
:root {
    --gradiente-barra: linear-gradient(90deg, rgba(19, 19, 31, 1) 7%, rgba(53, 51, 205, 1) 40%, rgba(160, 32, 240, 1) 100%);
    --gradiente-botao: linear-gradient(90deg, rgba(53, 51, 205, 1) 20%, rgba(160, 32, 240, 1) 100%);
    --cor-fundo: #13131F;
    --cor-fonte: #fff;
    --azul: #3533cd;
    --roxo: #a020f0;
    --fonte-titulo: 'Saira', sans-serif;
    --fonte-paragrafo: 'Lora', serif;
}

/* Estilizando o layout */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
    font-family: var(--fonte-paragrafo);
}

/* Estilizando a barra de navegação */

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: var(--cor-fonte);
    outline: none;
}

header {
    position: relative;
    width: 100vw;
    font-family: var(--fonte-titulo);
}

#navegacao {
    width: 100vw;
    height: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-fundo);
    background: var(--gradiente-barra);
}

.logo img {
    width: 50px;
    border-radius: 50%;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

#navegacao li a {
    padding: 0 10px 25px 10px;
    font-size: 20px;
    position: relative;
}

/*  transition: 0.5s ease-in-out; : serve para editar a transição de um estado para o outro */
/* position:; é usado para controlar o posicionamento de um elemento em relação ao seu contexto de posicionamento, que pode ser o documento HTML como um todo, um elemento pai ou algum outro elemento.  */
nav a::after {
    content: "";
    width: 0%;
    height: 4px;
    background-color: var(--cor-fonte);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

/* Estlizando o toogle */
#check {
    display: none;
}

.icons {
    position: absolute;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
    right: 1%;
}
/* Estilizando a classe Layout da página*/
.layout{
    width: 100vw;
    height: 75vh;
    display: flex;
}

/* Estilizando o título */
#tituloPrincipal {
    font-family: var(--fonte-titulo);
}

/* Estilizando o conteúdo principal da página */
main{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

article {
    padding: 40px;
    width: 530px;
    background: rgba(19, 19, 31, 0.2);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
}

article h2 {
    text-align: center;
    padding-bottom: 35px;
    font-family: var(--fonte-titulo);
}

article p {
    text-indent: 25px;
    text-align: justify;
}

/* Estilizando a lateral que engloba a imagem e o boão de currículo */

.lateral {
    width: 30vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Fazendo a estilização da imagem pessoal */
figure {
    padding-left: 30px;
    padding-top: 55px;
}

figure img {
    border-radius: 50%;
    width: 300px;
}

/* Estilizando o botão */
.curriculo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curriculo h2 {
    padding-bottom: 20px;
    font-family: var(--fonte-titulo);
}

#download a {
    text-decoration: none;
    color: var(--cor-fonte);
    font-family: var(--fonte-paragrafo);
}

#download {
    padding: 15px;
    background: var(--gradiente-botao);
    margin-top: 10px;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
    outline: none;
}

#download:hover {
    transform: scale(1.2);
}

/* Estilizando o rodapé da página */
footer {
    display: flex;
    align-items: flex-end;
}

.footer {
    width: 100%;
    text-align: center;
    background: var(--gradiente-barra);
    font-family: var(--fonte-titulo);
    
}

/* Espaço para o Media Query (responsividade)*/

@media(max-width: 1025px) {
    
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    #close-icon {
        display: none;
    }

    .links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        transition: .3s ease;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        z-index: 999;
        background-color: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
    }

    #check:checked~.links {
        padding-top: 20px;
        height: 50vh;
        
    }

    .links a {
        display: block;
        text-align: center;
        font-size: 10px;
    }

    nav a:hover::after {
        display: none;
    }
}
@media(max-width: 900px) {
    body {
        height: 200vh;
    }
    .layout {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 80%;
    }
    figure {
        padding: 0;
    }
    .curriculo h2 {
        margin-top: 20px;
        text-align: center;
    }
    #tituloPrincipal {
        text-align: center;
        margin-bottom: 20px;
    }

}
@media(max-width: 450px) {
    .layout {
    height: 95%;
    }

    main article {
        width: 150%;
        padding: 25px;
    }
}
